body {
    background-color: hsla(238, 55%, 81%, 0.281);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%);
}

.qr-code {
    background-color: white;
    border-radius:5% ;
    margin: 150px auto 150px auto;
    width: 25%;
    position: relative;
}

.image-qr-code {
    height: 85%;
    width: 85%;
    margin: 20px auto;
    margin-bottom: 0;
    border-radius: 5%;
    position: relative;
}

h2 {
    font-size: 20px;
    padding: 0 30px 0 30px;
    margin-top: 0 auto 0 auto;
}

p {
    color: rgb(158, 156, 156);
    padding: 0 30px 30px 30px;
}